.theater-mode {
  background-color: black;
}
.theater-mode * {
  visibility: hidden;
}

.theater-mode #player,
.theater-mode #player * {
  visibility: visible;
}

.theater-mode #action-button,
.theater-mode #action-button * {
  visibility: visible;
}
